[submodule "Zynq-Carrier-Power"]
	path = Zynq-Carrier-Power
	url = https://github.com/eryn-chen/Zynq-Carrier-Power
	branch = master
[submodule "DIGITALBot"]
	path = DIGITALBot
	url = https://github.com/AngeloDuenas/DIGITALBot.git
	branch = main
